@import "tailwindcss";

@theme {
  --color-primary: #cfa36a;
  --color-secondary: #222222;
  --color-accent: #903a28;
}

.theme-light {
  --color-primary: #abae46;
  --color-secondary: #303517;
  --color-accent: #6c421c;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

